@model IEnumerable< ItlaBanking.Models.Usuario>
@{
    Layout = "_LayoutAdministrador";
}

<html>
<body class="bg-light" id="FondoAdministrador">
    <div class="card container bg-warning border border-white rounded shadow-lg p-1 mb-5 bg-white border border-primary">
        <div class="card-header p-1">

            <nav class="navbar navbar-light bg-light navbar-dark bg-dark rounded">
                <a asp-controller="Usuario" asp-action="CrearUsuario" class="btn btn-success mr-auto  btn-sm text-white">Agregar Usuario</a>

                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Ingresar Usuario" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                </form>
            </nav>


        </div>
        <div class="card-body">
            <h3 class="card-title font-weight-bold">Usuarios registrados</h3>

            <table class="table table-hover text-center table-responsive-lg table-borderless">
                <div class="d-flex align-items-center">
                    <thead>
                        <tr class="table-info">
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">Usuario</th>
                            <th scope="col">Tipo de Usuario</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Función</th>
                            <th scope="col">Activador</th>
                            <th></th>
                        </tr>
                    </thead>
                   
                    <tbody>

                        @*CLIENTE*@
                        @foreach (var user in Model)
                        {
                        <tr>
                            <td>@Html.DisplayFor(ModelItem => user.Nombre)</td>
                            <td>@Html.DisplayFor(ModelItem => user.Apellido)</td>
                            <td>@Html.DisplayFor(ModelItem => user.Usuario1)</td>
                            <td>@Html.DisplayFor(ModelItem => user.TipoUsuario)</td>
                            <td>@Html.DisplayFor(ModelItem => user.Estado)</td>
                            <td>
                                <a asp-controller="Usuario" asp-action="EditUsuario" asp-route-id="@user.IdUsuario" class="btn btn-outline-warning btn-sm"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                             </td>

                            <td>
                                @if (user.Estado == "Activo")
                                {
                                    <a asp-controller="Administrador" asp-action="DesActivador" asp-route-id="@user.IdUsuario" class="btn btn-outline-secondary btn-sm"><i class="fa fa-times-circle" style="font-size:14px; color:red" aria-hidden="true"></i> Desactivar</a>

                                }
                                else
                                {
                                <a asp-controller="Administrador" asp-action="Activador" asp-route-id="@user.IdUsuario" class="btn btn-outline-info btn-sm"><i class="fa fa-check-circle" style="font-size:14px; color:greenyellow" aria-hidden="true"></i> Activar</a>
                                }
                            </td>
                            <td>

                            </td>
                        </tr>

                            @*ADMINISTRADOR
            <tr>
                <th scope="row">1</th>
                <td>Dalvin David</td>
                <td>Molina Ogando</td>
                <td>Goku</td>
                <td>Administrador</td>
                <td>Activo</td>
                <td>
                    <a asp-controller="Administrador" asp-action="Eliminar" asp-route-id="" class="btn btn-outline-warning btn-sm"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    &nbsp;|&nbsp; <a asp-controller="Administrador" asp-action="Eliminar" asp-route-id="" class="btn btn-outline-danger btn-sm"><i class="fa fa-trash"></i></a>
                </td>
                <td>
                    <a asp-controller="Administrador" asp-action="Activador" asp-route-id="" class="btn btn-outline-info btn-sm"><i class="fa fa-thumbs-o-up" aria-hidden="true"> Activar</i></a>
                    <a asp-controller="Administrador" asp-action="Activador" asp-route-id="" class="btn btn-outline-secondary btn-sm"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> Desactivar</a>
                </td>
                <td></td>
            </tr>*@
                        }
                        </tbody>
                    
                </div>
            </table>


        </div>


    </div>

</body>
</html>

