@model ItlaBanking.ViewModels.EstadisticaAdministradorViewModel
@{
    Layout = "_LayoutAdministrador";
}

<html>
<body class="bg-light" id="FondoAdministrador">
    <div class="card container bg-white border border-white rounded shadow-lg p-1 mb-5">

        <div class="card-header p-2 bg-white text-center">
            <h2 style="font-size:40px; font-family:cursive; font-weight:bolder">Estadisticas</h2>
        </div>
        @foreach (var stats in Model.stats)
        {
            <div class="card-body  FondoCard">

                <div class="card-header p-1 bg-transparent form-inline border-bottom border-primary">
                    <h2 style="color:lawngreen" class="mr-auto">TOTAL DE TRANSACCIONES: <span style="font-size:32px; color:lavenderblush">@stats.TotalTransacciones</span></h2>
                </div>

                <div class="card-header p-1 bg-transparent form-inline  border-bottom border-primary">
                    <h2 style="color:lawngreen">TRANSACCIONES DE HOY: <span style="font-size:32px; color:lavenderblush">@stats.TransaccionesHoy</span></h2>
                </div>

                <div class="card-header bg-transparent">
                    <h2 style="color:lawngreen">CANTIDAD DE PAGOS: </h2>
                </div>

                <div class="card-body border-bottom border-primary">
                    <h3 class="card-title" style="color:yellow">TOTAL DE PAGOS:  <span style="font-size:32px; color:lavenderblush">@stats.TotalPagos</span> </h3>
                    <h3 class="card-title mt-2" style="color:lightskyblue">PAGOS DE HOY:  <span style="font-size:32px; color:lavenderblush">@stats.PagosHoy</span></h3>
                </div>

                <div class="card-header bg-transparent">
                    <h2 style="color:lawngreen">CANTIDAD DE CLIENTES: </h2>
                </div>

                <div class="card-body border-bottom border-primary">
                    <h3 class="card-title" style="color:mediumspringgreen">ACTIVOS:  <span style="font-size:32px; color:lavenderblush">@stats.TotalClientActivos</span> </h3>
                    <h3 class="card-title mt-2" style="color:red">INACTIVOS:  <span style="font-size:32px; color:lavenderblush">@stats.TotalClienteInactivos</span></h3>
                </div>

                <div class="card-header bg-transparent">
                    <h2 style="color:lawngreen">CANTIDAD DE PRODUCTOS: </h2>
                </div>

                <div class="card-body">
                    <h3 class="card-title" style="color:mediumseagreen">CUENTA DE AHORRO:  <span style="font-size:32px; color:lavenderblush">@stats.TotalCuenta</span></h3>
                    <h3 class="card-title mt-2" style="color:orange">TARJETA DE CREDITO:  <span style="font-size:32px; color:lavenderblush">@stats.TotalTarjeta</span></h3>
                    <h3 class="card-title mt-2" style="color:orangered">PRESTAMOS:  <span style="font-size:32px; color:lavenderblush">@stats.TotalPrestamo</span> </h3>
                </div>

            </div>
        }

    </div>

</body>
</html>

